.progress-bar {
	-fx-indeterminate-bar-length: 150;
	-fx-indeterminate-bar-escape: true;
	-fx-indeterminate-bar-flip: false;
	-fx-indeterminate-bar-animation-time: 1.5;
	-fx-accent: rgb(100, 0, 0);
}

.progress-bar > .bar {
	-fx-background-radius: 10px;
}

.progress-bar > .track {
	-fx-background-radius: 0px;
}